<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <title>로그인</title>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/skeleton.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
</head>

<body>
<div class="content-area">
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-md-3 col-form-label">{{ form.username.label }}</label>
            <div class="col-md-9">{{ form.username }}</div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">{{ form.password.label }}</label>
            <div class="col-md-9">{{ form.password }}</div>
        </div>
        {% if form.non_field_errors %}
            <div class="form-group">
                <small class="text-error">
                    {{ form.non_field_errors }}
                </small>
            </div>
        {% endif %}
        <div class="text-center">
            <input type="submit" value="로그인"/>
            <a class="button button-primary" href="{% url 'signup' %}">회원가입</a>
        </div>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>
