<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>
            <a class="button button-primary" href="{% url 'new_room' %}">Join</a>
        </p>
        <p>
            <a class="button button-primary" href="{% url 'new_room' %}">Login</a>
        </p>

    </div>
    <div>
        {% if user.is_authenticated %}
            <p>
                <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
            </p>
            <h2>Chat List</h2>
            {% for chat in chat_list %}
                <p><a href="{% url 'chat_room' label=chat.label %}">{{ chat.label }}</a></p>
            {% empty %}
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
