<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <title>{{ room.label }}</title>

    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
</head>

<body>
<div class="content-area">
        {% if user.is_authenticated %}

            <p>Room name: {{ room.label }}</p>
            <p>
                <label for="handle">Your name: {{ user.display_name }}</label>
                <input id="handle" type="hidden" placeholder="handle" value="{{ user }}">
            </p>
        {% endif %}
        <form id="chatform">
            {% csrf_token %}
            <table id="chat">
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.formatted_timestamp }}</td>
                        <td>{{ message.handle.display_name }}</td>
                        <td>{{ message.message }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>Say something:</td>
                    <td colspan=2>
                        <input id="message" type="text" placeholder="message">
                        <button type="submit" id="go">Say it</button>
                    </td>
                </tfoot>
            </table>
        </form>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>

</body>
</html>
